.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 200px;
    img{
        width: 300px;
    }
}
.detail_text{
    display: flex;
    flex-direction: column;
}